--
-- PostgreSQL database dump
--

\restrict 90UzpE3mIt5AxFXafTJ789ARjLE5sXhrrLpfDZlx4Ps0sNcUqx8ddSZn4rh0tNi

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cdc_events; Type: TABLE; Schema: public; Owner: redash
--

CREATE TABLE public.cdc_events (
    id bigint NOT NULL,
    event_id bigint,
    event_type text,
    event_timestamp timestamp without time zone,
    table_name text,
    record_id text,
    before_data jsonb,
    after_data jsonb,
    ddl_statement text,
    source_file text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    topic text,
    partition_number integer,
    kafka_offset bigint,
    database_name text,
    schema_name text,
    snapshot boolean,
    source_lsn bigint,
    source_txid bigint,
    source_line_number integer
);


ALTER TABLE public.cdc_events OWNER TO redash;

--
-- Name: cdc_events_id_seq; Type: SEQUENCE; Schema: public; Owner: redash
--

CREATE SEQUENCE public.cdc_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cdc_events_id_seq OWNER TO redash;

--
-- Name: cdc_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: redash
--

ALTER SEQUENCE public.cdc_events_id_seq OWNED BY public.cdc_events.id;


--
-- Name: processed_files; Type: TABLE; Schema: public; Owner: redash
--

CREATE TABLE public.processed_files (
    file_name text NOT NULL,
    file_etag text,
    processed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.processed_files OWNER TO redash;

--
-- Name: cdc_events id; Type: DEFAULT; Schema: public; Owner: redash
--

ALTER TABLE ONLY public.cdc_events ALTER COLUMN id SET DEFAULT nextval('public.cdc_events_id_seq'::regclass);


--
-- Data for Name: cdc_events; Type: TABLE DATA; Schema: public; Owner: redash
--



--
-- Data for Name: processed_files; Type: TABLE DATA; Schema: public; Owner: redash
--



--
-- Name: cdc_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: redash
--

SELECT pg_catalog.setval('public.cdc_events_id_seq', 700, true);


--
-- Name: cdc_events cdc_events_pkey; Type: CONSTRAINT; Schema: public; Owner: redash
--

ALTER TABLE ONLY public.cdc_events
    ADD CONSTRAINT cdc_events_pkey PRIMARY KEY (id);


--
-- Name: processed_files processed_files_pkey; Type: CONSTRAINT; Schema: public; Owner: redash
--

ALTER TABLE ONLY public.processed_files
    ADD CONSTRAINT processed_files_pkey PRIMARY KEY (file_name);


--
-- Name: cdc_events uq_cdc_event; Type: CONSTRAINT; Schema: public; Owner: redash
--

ALTER TABLE ONLY public.cdc_events
    ADD CONSTRAINT uq_cdc_event UNIQUE (source_file, event_id);


--
-- Name: idx_cdc_events_record; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_record ON public.cdc_events USING btree (record_id);


--
-- Name: idx_cdc_events_source_file; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_source_file ON public.cdc_events USING btree (source_file);


--
-- Name: idx_cdc_events_table; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_table ON public.cdc_events USING btree (table_name);


--
-- Name: idx_cdc_events_timestamp; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_timestamp ON public.cdc_events USING btree (event_timestamp);


--
-- Name: idx_cdc_events_topic_partition_offset; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_topic_partition_offset ON public.cdc_events USING btree (topic, partition_number, kafka_offset);


--
-- Name: idx_cdc_events_type; Type: INDEX; Schema: public; Owner: redash
--

CREATE INDEX idx_cdc_events_type ON public.cdc_events USING btree (event_type);


--
-- Name: uq_cdc_event_file_event_id_fallback; Type: INDEX; Schema: public; Owner: redash
--

CREATE UNIQUE INDEX uq_cdc_event_file_event_id_fallback ON public.cdc_events USING btree (source_file, event_id) WHERE ((topic IS NULL) OR (partition_number IS NULL) OR (kafka_offset IS NULL));


--
-- Name: uq_cdc_event_file_topic_partition_offset; Type: INDEX; Schema: public; Owner: redash
--

CREATE UNIQUE INDEX uq_cdc_event_file_topic_partition_offset ON public.cdc_events USING btree (source_file, topic, partition_number, kafka_offset) WHERE ((topic IS NOT NULL) AND (partition_number IS NOT NULL) AND (kafka_offset IS NOT NULL));


--
-- PostgreSQL database dump complete
--

\unrestrict 90UzpE3mIt5AxFXafTJ789ARjLE5sXhrrLpfDZlx4Ps0sNcUqx8ddSZn4rh0tNi

